################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorios/Laboratorio 1/Laboratorio 1.sln
/.vs
/Laboratorios/Laboratorio 1/.vs/Laboratorio 1
